<!DOCTYPE html>
<html>
<head>
    <title> {{data_page.title}} </title>
    <link href="{{ url_for('static', path='/css/mystyle.css') }}" rel="stylesheet">
</head>

<style>
        label {
            color:#00aa80;
            font-family: Arial, Helvetica, sans-serif;
            font-size:15px;
        }
    </style>
<body>
    <p class="pagename" > {{data_page.title}} </p>
    <a id="Go_Top" style="display: block;"><img alt="up" src="/app/up.png"></a>

    <div >
        <form name="go" method="post" action="/student1" enctype="multi-part/form-data">
            <label >Name:</label><br>
            <input type="text"  name="std_name"  ><br>
            <label >Family:</label><br>
            <input type="text"  name="std_family"  ><br>
            <label >NickName:</label><br>
            <input type="text"  name="std_nickname"  ><br>
            <label >Telephone:</label><br>
            <input type="number"  name="std_telephone"  ><br><br>
            <label >Log in:</label><br>
            <input type="text"  name="std_login"  ><br>
            <label >Password:</label><br>
            <input type="text"  name="std_password"  ><br>

            <input type="submit" class="button" value="Submit">
            <input type="reset" class="button">
        </form>
    </div>
</body>
</html>

