<!DOCTYPE html>
<html>
<head>
    <title> {{data_page.title}} </title>

    <link href="static/css/mystyle.css"  type="text/css" rel="stylesheet">
</head>
<style>
    div.lng_choice { padding:20px; margin: 30; }
</style>
<body>
    <p class="pagename" > {{data_page.title}} </p>
    <div >
        <form name="go" method="post" action="/manage" enctype="multi-part/form-data">

<!--            <div> <input type="text" id="uname" name="url_googlesheet" size="100"> </div>-->
            <div class="choice_access">
                <label id="lbl-operation">Choice a Operation :</label>
                <select name="access" id="choice_access">
                    <option value="">--Please choice your Access--</option>
                    <option value="Student">Student</option>
                    <option value="Mentor">Mentor</option>
<!--                    <option value="Hebrew">Hebrew</option>-->
                </select>
            </div>
            <input type="submit" class="button" value="Submit">
            <input type="reset" class="button">

        </form>
    </div>

</body>
</html>

