<!DOCTYPE html>
<html>
<head>
    <title> {{data_page.title}} </title>
    <link href="{{ url_for( 'static', path='/css/mystyle.css') }}"  rel="stylesheet">
</head>
<style>
    div.lng_choice { padding:20px; margin: 30; }
    label {
            color:#00aa80;
            font-family: Arial, Helvetica, sans-serif;
            font-size:15px;
    }


</style>
<body>
    <p class="pagename" > {{data_page.title}} </p>
    <div >
        <form name="go" method="post" action="/student/add" enctype="multi-part/form-data">

<!--            <div> <input type="text" id="uname" name="url_googlesheet" size="100"> </div>-->
            <div class="operation_choice">
                <label id="lbl-operation">Student Info :</label>
                <label >ID:</label><br>
                <input type="text"  name="std_id" placeholder="{{data_page.student.id}}"  >  <br>
                <label >Name:</label><br>
                <input type="text"  name="std_name" placeholder="{{data_page.student.name}}"  >  <br>
                <label >Family:</label><br>
                <input type="text"  name="std_family" placeholder="{{data_page.student.family}}" ><br>
                <label >NickName:</label><br>
                <input type="text"  name="std_nickname" placeholder="{{data_page.student.nickname}}" ><br>
                <label >Telephone:</label><br>
                <input type="text"  name="std_telephone" placeholder="{{data_page.student.telephone}}" ><br>
                <label >Telephone:</label><br>
            </div>
            <input type="submit" class="button" value="Submit">
            <input type="reset" class="button">

        </form>
    </div>

</body>
</html>

